body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  font-size: 20px;
}

button,
select {
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  background-color: white;
}

* {
  box-sizing: border-box;
  outline: 1px solid #e0e0e0;
}

#question *,
#answer *,
svg,
svg * {
  outline: none;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 720px) {
  #app {
    flex-direction: column;
  }
}

#app > * {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  min-height: 0;
}

#app > #description {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#description > * {
  flex-grow: 1;
  flex-basis: 0;
  min-height: 0;
}

#description > #descp-groups {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}

#descp-groups > .descp-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.descp-group > .groupindent {
  white-space: pre;
  color: #334155;
  cursor: pointer;
}

.descp-group > .groupname {
  flex-grow: 1;
  white-space: pre;
  color: #334155;
  text-decoration: underline;
  cursor: pointer;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.descp-group > .grouptotal {
  flex-basis: 70px;
  text-align: center;
}

.descp-group > .groupretention {
  flex-basis: 70px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

#description > #descp-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

#descp-card > #descp-card-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#descp-card-group > .groupname {
  flex-grow: 1;
  white-space: pre;
  color: #334155;
  text-decoration: underline;
  cursor: pointer;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#descp-card-group > .cardretention {
  flex-basis: 70px;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

#descp-card > #descp-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
}

#descp-card-content > #question,
#descp-card-content > #answer {
  text-align: left;
  text-wrap: wrap;
  white-space: pre-wrap;
  padding: 10px;
}

#question img,
#answer img {
  max-width: 100%;
  max-height: 100%;
}

#descp-card-content > #show-answer {
  flex-grow: 0;
  padding: 10px;
  display: none;
}

#app > #statemap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#statemap > #statemap-content {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

#statemap-content > #statemap-svg-container {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#statemap-svg-container > #statemap-svg {
  height: 100%;
  width: 100%;
}

#statemap > #statemap-legend {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

#statemap-legend > #statemap-legend-svg-container {
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#statemap-legend-svg-container > #statemap-legend-svg {
  height: 100%;
  width: 100%;
}

#statemap > #options {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#options > * {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
