body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

button,
select {
  border: none;
}

* {
  box-sizing: border-box;
  outline: 1px solid #e0e0e0;
}

#ankirus {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media screen and (max-width: 400px) {
  #ankirus {
    flex-direction: column;
  }
}

#ankirus > * {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

#description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#description > * {
  flex-grow: 1;
}

#descp-groups {
  overflow: auto;
}

.descp-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.groupindent {
  white-space: pre;
  color: #334155;
  cursor: pointer;
}

.groupname {
  flex-grow: 1;
  white-space: pre;
  color: #334155;
  text-decoration: underline;
  cursor: pointer;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grouptotal {
  width: 70px;
  text-align: center;
  color: #3b82f6;
}

.groupretention {
  width: 70px;
  text-align: center;
}

#descp-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  overflow: auto;
}

#descp-card-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.cardretention {
  width: 70px;
  text-align: center;
}

#question,
#answer {
  flex-grow: 1;
  align-content: left;
  text-align: left;
  text-wrap: wrap;
  white-space: pre-wrap;
  height: 0;
}

#question img,
#answer img {
  max-width: 100%;
  max-height: 100%;
}

#show-answer {
  align-self: center;
}

#statemap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#statemap > * {
  flex-grow: 0;
}

#statemap-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

#statemap-canvas {
  max-height: 100%;
  max-width: 100%;
}

#statemap-legend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

#statemap-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

#statemap-options > * {
  flex-grow: 1;
}

#statemap-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

#statemap-time-container > input {
  flex-grow: 1;
}
